<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wpfmain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wpfmain.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=DESKTOP-BEQTQ1J;Database=IAN1;Integrated Security=True;Encrypt=False;User Id=DESKTOP-BEQTQ1J\ianch;</value>
            </setting>
            <setting name="NorthwindConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-BEQTQ1J;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"</value>
            </setting>
            <setting name="Machine_ID" serializeAs="String">
                <value>DESKTOP-BEQTQ1J\ianch</value>
            </setting>
            <setting name="AdventureWorks2019" serializeAs="String">
                <value>Data Source=DESKTOP-BEQTQ1J;Initial Catalog=AdventureWorks2019;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"</value>
            </setting>
            <setting name="BankSysConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-BEQTQ1J;Initial Catalog=IAN1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"</value>
            </setting>
            <setting name="ReplaceFldNames" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="UseFlowDoc" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="UseMagnify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppRootPath" serializeAs="String">
                <value>W:\\WpfMain\bin\\Debug\\</value>
            </setting>
        </Wpfmain.Properties.Settings>
    </userSettings>
</configuration>